{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "loose": true,
        "targets": {
          "browsers": ["chrome 60"]
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
