{
  "presets": [["env", {
    "modules": false,
    "useBuiltIns": "usage",
    "loose": true,
    "targets": {
      "browsers": ["ie 8"]
    }
  }]],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
