.container {
	margin: 0;
	padding: 0;
	color: var(--color-line-600);
	background: none;
	border: none;
	cursor: pointer;
	opacity: 0.3;
	transition: opacity 200ms ease-out;
	appearance: none;
	inline-size: 1.3em;
}

.container:where(:hover, :active, :focus-visible) {
	opacity: 1;
}

.container svg {
	/* stylelint-disable-next-line liberty/use-logical-spec */
	width: unset;
	/* stylelint-disable-next-line liberty/use-logical-spec */
	height: unset;
	inline-size: 100%;
	aspect-ratio: 1;
}

@media screen and (display-mode: fullscreen) {
	.container:not(:hover, :active, :focus-visible) {
		opacity: 0.1;
	}
}
