.container {
	color: var(--color-line-100);
	cursor: pointer;
	inline-size: 1.3em;
	transition: color 200ms ease-out;
}

.container:hover {
	color: var(--color-line-600);
}

.container svg {
	/* stylelint-disable-next-line liberty/use-logical-spec */
	width: unset;
	/* stylelint-disable-next-line liberty/use-logical-spec */
	height: unset;
	inline-size: 100%;
	aspect-ratio: 1;
}
