.container {
	color: var(--color-line-600);
	cursor: pointer;
	inline-size: 1.3em;
	opacity: 0.3;
	transition: opacity 200ms ease-out;
}

.container:hover {
	opacity: 1;
}

.container svg {
	/* stylelint-disable-next-line liberty/use-logical-spec */
	width: unset;
	/* stylelint-disable-next-line liberty/use-logical-spec */
	height: unset;
	inline-size: 100%;
	aspect-ratio: 1;
}

@media screen and (display-mode: fullscreen) {
	.container:not(:hover) {
		opacity: 0.1;
	}
}
