.container {
	position: absolute;
	inset-inline: 0 -8px;
	inset-block-start: 0;
	block-size: 1px;
	background-color: var(--color-line-100);
}

.thumbnail-container {
	position: absolute;
	overflow: hidden;
	background-color: var(--color-surface-0);
	border-radius: 50%;
	transform: scale(0.4);
	opacity: 0.4;
	transition: transform 0.2s ease-out, opacity 0.2s ease-out;
	inline-size: 40px;
	block-size: 40px;
	inset-inline-end: -40px;
	inset-block-start: -20px;
}

.thumbnail-container:hover {
	transform: scale(1);
	opacity: 1;
}

.container:not(:first-child) {
	cursor: pointer;
}
