.container {
	display: flex;
	align-items: center;
	justify-content: center;
	block-size: 100%;
}

.world-container {
	position: relative;
	inline-size: 600px;
	block-size: 600px;
}

.world-canvas,
.sliders-container {
	position: absolute;
	inset: 0;
}

.world-canvas {
	z-index: 1;
	background-color: var(--color-surface-0);
}

.sliders-container {
	z-index: 0;
}

.buttons {
	position: absolute;
	display: flex;
	gap: 1rem;
	transform: translateX(-50%);
	inset-block-end: 2em;
	inset-inline-start: 50%;
}

.audio-button {
	color: var(--color-line-100);
	cursor: pointer;
	inline-size: 1.3em;
	transition: color 200ms ease-out;
}

.audio-button:hover {
	color: var(--color-line-600);
}
