@import './theme.css';

html {
	box-sizing: border-box;
	color: var(--color-text-400);
	font-size: 16px;
	font-family: system-ui, sans-serif;
	background-color: var(--color-surface-0);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
}

#app-root {
	inline-size: 100vw;
	block-size: 100vh;
}
