:root {
	--color-surface-0: #fff;
	--color-line-100: #888;
	--color-line-400: #444;
	--color-line-600: #000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-surface-0: #111;
		--color-line-100: #444;
		--color-line-400: #888;
		--color-line-600: #eee;
	}
}
