.container {
	position: fixed;
	z-index: 10;
	display: flex;
	gap: 0.2rem;
	inset-block-start: 2em;
	inset-inline-end: 2em;
}

.container div {
	cursor: pointer;
}

.github-link {
	inline-size: 1em;
}
